<div id="main">
    
    {% include 'navbar2.html' %}
    {% if not user.is_superuser %}
    {% include 'navbar.html' %}
    {% endif %}


<h2 class="mb-4">Edit Lab</h2>
<form method="post" action="{% url 'labpro:edit_lab' lab_id %}">
    {% csrf_token %}
    <div class="form-group">
        {{ form.as_p }}
    </div>
    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.errors }}
        </div>
    {% endif %}
    <button type="submit" class="btn btn-primary">Update Lab</button>
</form>


</div>